body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
div{
    padding:1px;
}
.header{
    width: 100%;
    box-sizing:border-box;
    color: white;
    margin-top: 7px;
}
body{
    background-color:black;
    color:white;
}

a{
    color:darkgray;
    text-decoration: none;
margin-top: 10px;
    
}
.container{
    width: 70%;
    margin-left: auto;
margin-right: auto;
text-align: center;
}
li{
    list-style-type: none;
}
